<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/intellictrlf.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>IntelliCTRLF</title>
</head>
<body>

<h1>Intelligent Information Search</h1>
    <div class="query-container">
        <form id="fileForm" enctype="multipart/format-data">
            <label for="fileInput">Choose a file:</label>
            <input type="file" id="fileInput" name="fileInput" accept=".txt, .pdf, .jpg, .png, .docx">
            <br>
            <label for="query">Enter your query:</label>
            <textarea id="query" name="query" rows="5"></textarea>
            <button type="button" id="button" onclick="submitForm()">Submit</button>
        </form>
    </div>
    <div class="response-container" id="response-container">

    </div>

<!-- <div id="popup-mic" class="modal">
    <div class="content">
        <form action="/detect_file_type">
            <textarea class="text-block"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <a href="#" class="box-close"><span class="material-symbols-outlined">close</span></a>
    </div>
<style>
  .speech {
    border: 1px solid #ddd;
    width: 300px;
    padding: 0;
    margin: 0;
  }
  .speech input {
    border: 0;
    width: 240px;
    display: inline-block;
    height: 30px;
  }
  .speech img {
    float: right;
    width: 40px;
  }
</style>
<form id="labnol" method="get" action="https://www.google.com/search">
  <div class="speech">
    <input type="text" name="q" id="transcript" placeholder="Speak" />
    <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
  </div>
</form> -->

<!-- HTML5 Speech Recognition API -->
<script>
  function startDictation() {
    if (window.hasOwnProperty('webkitSpeechRecognition')) {
      var recognition = new webkitSpeechRecognition();

      recognition.continuous = false;
      recognition.interimResults = false;

      recognition.lang = 'en-US';
      recognition.start();

      recognition.onresult = function (e) {
        document.getElementById('transcript').value = e.results[0][0].transcript;
        recognition.stop();
        document.getElementById('labnol').submit();
      };

      recognition.onerror = function (e) {
        recognition.stop();
      };
    }
  }
</script>
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script>
    const resultDiv = document.getElementById('response-container');
    function submitForm() {
        document.getElementById('button').disabled = true //TODO disabled not working
        var formData = new FormData(document.getElementById('fileForm'));
        fetch('/detect_file_type', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // Append the result to the screen
            resultDiv.innerHTML = ''
            // document.getElementById('response-container').innerText = 'Sentences: ' + data.sentences;
            document.getElementById('button').disabled = false
            data.sentences.forEach(str => {
                const sanitizedStr = str.toString()//.replace(/[^a-zA-Z0-9\s]/g, ''); // Remove special characters
                const div = document.createElement('div');
                div.textContent = sanitizedStr;
                resultDiv.appendChild(div);
            });
        })
        .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>