<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/intellictrlf.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>IntelliCTRLF</title>
</head>
<body>

<h1>Intelligent Information Search</h1>
    <div class="file-upload-container">
        <label for="file">Upload a file (.txt or .docx):</label>
        <input type="file" id="file" name="file">
    </div>
    <div class="prompt-container">
        <label for="prompt">Enter your prompt:</label>
        <textarea id="prompt" name="prompt" rows="5"></textarea>
        <button id="submit-prompt">Submit</button>
    </div>
    <div class="response-container">
        </div>

<div>
    <a class="btn" href="#popup-box">UPLOAD</a>
</div>

<div id="popup-box" class="modal">
    <div class="content">
        <form id="show-uppdf" class="upload" action = "/detect_file_type"" method = "POST" enctype = "multipart/form-data">
            <div style="display: flex; align-items: center;">
                <input class="" type = "file" name = "file">
                <input class="" type = "submit">
            </div>
        </form>
    </div>
    <a href="#" class="box-close"><span class="material-symbols-outlined">close</span></a>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>

</html>